NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

EMBEDMASTER_BASE_URL=https://embedmaster.link
EMBEDMASTER_PLAYER_ID=k8i9pm5nsn3nrj0d

NEXT_PUBLIC_APP_NAME=CineGlass
NEXT_PUBLIC_APP_URL=http://localhost:3000
