NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

VIDKING_BASE_EMBED_URL=https://www.vidking.net/embed
VIDKING_DEFAULT_AUTOPLAY=true
VIDKING_DEFAULT_LANGUAGE=en
VIDKING_DEFAULT_COLOR=a78bfa

NEXT_PUBLIC_APP_NAME=CineGlass
NEXT_PUBLIC_APP_URL=http://localhost:3000
